<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>

        <div class="hero-image">
            <div class="hero-text">
                <h1>Welcome to Post Blog Website not made by WP 😅</h1>
                <h1>I am Hasan Qarqur</h1>
                <p>And I'm a Developer</p>
                <button class="btn btn-primary">Hire me</button>
            </div>
        </div>

    </body>
</html>